<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wh.dm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".activity.DM_ImgActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DM_SubActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.DM_MZine1Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DM_InteractionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DM_NewsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DM_NewsDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.DM_Tab_1Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DM_Tab_2Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DM_PhotosActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DM_HeadLineActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DM_CollectActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".activity.DM_Photos_AllActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DM_PhotosDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DM_SubscribeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DM_Sub_HotActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DM_SubManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.DM_VoteResultActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.DM_Vote1Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.DM_NewsMoreReplyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DM_Vote2Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.DM_VotedListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.DM_MzineFullActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.DM_MzineImgActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.DM_MzineLongActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
         <activity
            android:name=".activity.DM_News_HouseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
         <activity
            android:name=".activity.DM_VoteWatchResult"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
         <activity
            android:name=".activity.DM_MZine2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.DM_MZine3Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
		 <activity
            android:name=".activity.DM_TempActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.DM_MZineLongActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
         <activity
            android:name=".activity.DM_ForgetPasswdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.DM_FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" >
    </supports-screens>

</manifest>