<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wh.dm"
    android:versionCode="18"
    android:versionName="2.7.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:name=".WH_DMApp"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name=".activity.DM_ImgActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.DM_SubActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.DM_MZineArticleActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DM_InteractionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.LocalNewsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.HeadNewsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.CarNewsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.FashionNewsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.LifeNewsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.TravelNewsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.NewsDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.DM_Tab_1Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DM_Tab_2Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PhotosActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Photos_AllActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PhotosDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SubscribeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Sub_HotActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SubManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.DM_VoteResultActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.Vote1Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.NewsMoreReplyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PhotoReplyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Vote2Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.VotedListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.DM_MZinePicsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.DM_MzineImgActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.DM_MzineLongActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.HouseNewsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.VoteWatchResultActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.DM_MZine2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.DM_MZine3Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.DM_MZineLongActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.WeiboActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.ForgetPasswdActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.AccountActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.MoreActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.DownloadActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.SurveyActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.HotPhotosActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.SurveyFinishActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>

         <activity
            android:name=".activity.CarPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
         <activity
            android:name=".activity.GirlPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
         <activity
            android:name=".activity.PhotographPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
         <activity
            android:name=".activity.FunPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.MessageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Sub_CarActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".activity.Sub_GirlActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
         <activity
            android:name=".activity.Sub_ShootActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
         <activity
            android:name=".activity.Sub_FunActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".activity.SearchMagazineActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".activity.MagazineDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="com.umeng.api.activity.OauthActivity"
                  android:screenOrientation="unspecified"
                  android:windowSoftInputMode="adjustResize"
                  android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name="com.umeng.api.activity.UpdateStatusActivity"
                  android:theme="@style/Theme.IOSched"
                  android:windowSoftInputMode="stateVisible|adjustResize"
                  android:screenOrientation="unspecified"
                  android:configChanges="orientation|keyboardHidden">
		</activity>
		<activity
		    android:name=".activity.CollectMainActivity"
		    android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity
            android:name=".activity.CollectNewsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
		<activity
		    android:name=".activity.CollectPhotoActivity"
		    android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<receiver
		    android:name=".receiver.ConnectityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
		</receiver>
		<receiver
		    android:name=".receiver.AlarmReceiver">
		</receiver>
		<service
		    android:name=".service.PushService">
            <intent-filter>
                <action android:name="com.wh.dm.pushservice"/>
            </intent-filter>
		</service>
		<receiver
		    android:name=".receiver.AlarmReceiver">
		</receiver>
		<receiver
		    android:name=".receiver.ClearReceiver">
		</receiver>
		<receiver
		    android:name=".receiver.BootReceiver">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
		</receiver>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="508b875b52701571dd000026" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="umeng" />
        <service
    		android:name="com.umeng.common.net.DownloadingService"
   		 	android:exported="true"
    		android:process=":DownloadingService" >
		</service>
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" >
    </supports-screens>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- umeng -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>